.cd {
width:13px;
height:13px;
  background-color: black;
  margin:1px;
  float:left;
}

.content {
	border:1px solid gray;
	width:240px;
	height:240px;
	margin:0 auto;
}

.content:hover {
	background-color:gray;
}

#button {
	width:80px;
	margin:0 auto;
}