.cd {
  width: 10px;
  height: 10px;
  background-color: black;
  margin:2.5px;
  float:left;
}

.content {
	border:1px solid gray;
	width:240px;
	height:240px;
	margin:0 auto;
}

.content:hover {
	background-color:gray;
}